{
  "openapi": "3.0.3",
  "info": {
    "title": "NusantaraAI API",
    "description": "API NusantaraAI - OpenAI Compatible\n\n**Rate Limit**\nSetiap API KEY memiliki limit berdasarkan tier:\n- Free: 10 request/menit, 100/hari, 10.000 tokens/menit, 50.000/hari\n- Basic: 50 request/menit, 500/hari, 100.000 tokens/menit, 500.000/hari\n- Standard: 60 request/menit, 2000/hari, 100.000 tokens/menit, 1.000.000/hari\n- Pro: 120 request/menit, 10.000/hari, 200.000 tokens/menit, 5.000.000/hari\n- Enterprise: 200 request/menit, 50.000/hari, 500.000 tokens/menit, 10.000.000/hari\n\nLimit berlaku **per API key** dan juga **per user** (akumulasi).\nJika limit terlewati, akan mendapat error 429.\nReset harian dan bulanan otomatis, serta auto-downgrade ke Free jika subscription habis.\n\nUntuk detail sistem rate limit, lihat dokumentasi MDX.\n\n**Auth:** Gunakan header `Authorization: Bearer <API_KEY>`.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.nusa.xyz/v1"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "chat",
      "description": "Chat completion ala OpenAI"
    },
    {
      "name": "embeddings",
      "description": "Embeddings ala OpenAI"
    },
    {
      "name": "completions",
      "description": "Text completions"
    },
    {
      "name": "models",
      "description": "Model management"
    },
    {
      "name": "moderations",
      "description": "Content moderation"
    },
    {
      "name": "usage",
      "description": "Usage statistics"
    },
    {
      "name": "reasoning",
      "description": "Enhanced reasoning"
    },
    {
      "name": "system",
      "description": "System status"
    }
  ],
  "paths": {
    "/chat/completions": {
      "post": {
        "tags": ["chat"],
        "summary": "Create chat completion (OpenAI-Compatible)",
        "description": "Membuat completion chat seperti OpenAI API. Kirim array messages (role: user/assistant, content: string).",
        "operationId": "chatCompletions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionsRequest"
              },
              "examples": {
                "simple": {
                  "summary": "Contoh request sederhana",
                  "value": {
                    "model": "nusantara-base",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Apa itu NusantaraAI?"
                      }
                    ]
                  }
                },
                "advanced": {
                  "summary": "Contoh request dengan parameter lengkap",
                  "value": {
                    "model": "nusantara-base",
                    "messages": [
                      {
                        "role": "system",
                        "content": "Kamu adalah asisten AI yang membantu."
                      },
                      {
                        "role": "user",
                        "content": "Jelaskan tentang AI dalam bahasa Indonesia."
                      }
                    ],
                    "temperature": 0.7,
                    "max_tokens": 1000,
                    "stream": false,
                    "web_search": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionsResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Contoh response sukses",
                    "value": {
                      "id": "chatcmpl-xyz",
                      "object": "chat.completion",
                      "created": 1717950000,
                      "model": "nusantara-base",
                      "choices": [
                        {
                          "index": 0,
                          "message": {
                            "role": "assistant",
                            "content": "NusantaraAI adalah platform AI lokal."
                          },
                          "finish_reason": "stop"
                        }
                      ],
                      "usage": {
                        "prompt_tokens": 12,
                        "completion_tokens": 5,
                        "total_tokens": 17
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "API key missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                },
                "examples": {
                  "auth": {
                    "summary": "Contoh error API key",
                    "value": {
                      "error": {
                        "message": "API key is missing. Please provide your API key in the 'Authorization' header as 'Bearer <API_KEY>'.",
                        "type": "auth_error",
                        "code": "missing_api_key"
                      },
                      "_metadata": {
                        "creator": "nusantaraai",
                        "status": false,
                        "timestamp": "2025-06-09T16:00:00Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                },
                "examples": {
                  "limit": {
                    "summary": "Contoh error rate limit",
                    "value": {
                      "error": {
                        "message": "Too many requests. Limit: 10 RPM. Please try again later.",
                        "type": "rate_limit_exceeded",
                        "code": "rpm_exceeded",
                        "details": {
                          "limit": 10,
                          "remaining": 0,
                          "reset": "2025-06-09T17:00:00Z",
                          "retry_after": 60
                        }
                      },
                      "_metadata": {
                        "creator": "nusantaraai",
                        "status": false,
                        "timestamp": "2025-06-09T16:00:00Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            }
          }
        }
      }
    },
    "/completions": {
      "post": {
        "tags": ["completions"],
        "summary": "OpenAI compatible completions (text only)",
        "description": "Membuat text completion menggunakan prompt string.",
        "operationId": "textCompletions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextCompletionsRequest"
              },
              "examples": {
                "simple": {
                  "summary": "Contoh request sederhana",
                  "value": {
                    "model": "nusantara-base",
                    "prompt": "Sebutkan 3 manfaat AI:"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text completion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            }
          }
        }
      }
    },
    "/models": {
      "get": {
        "tags": ["models"],
        "summary": "List available models",
        "description": "Mendapatkan daftar model yang tersedia.",
        "operationId": "listModels",
        "responses": {
          "200": {
            "description": "List of available models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          }
        }
      }
    },
    "/embeddings": {
      "post": {
        "tags": ["embeddings"],
        "summary": "Create embeddings (OpenAI-Compatible)",
        "description": "Membuat embedding dari input text.",
        "operationId": "embeddings",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingsRequest"
              },
              "examples": {
                "simple": {
                  "summary": "Contoh request sederhana",
                  "value": {
                    "model": "nusantara-embeddings",
                    "input": "contoh kalimat"
                  }
                },
                "multiple": {
                  "summary": "Contoh multiple input",
                  "value": {
                    "model": "nusa-embedding-0001",
                    "input": ["kalimat pertama", "kalimat kedua"],
                    "encoding_format": "float"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Embeddings result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingsResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Contoh response sukses",
                    "value": {
                      "object": "list",
                      "data": [
                        {
                          "object": "embedding",
                          "embedding": [0.12, 0.34, 0.56],
                          "index": 0
                        }
                      ],
                      "model": "nusantara-embeddings",
                      "usage": {
                        "prompt_tokens": 3,
                        "total_tokens": 3
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "API key missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            }
          }
        }
      }
    },
    "/moderations": {
      "post": {
        "tags": ["moderations"],
        "summary": "Content moderation check",
        "description": "Melakukan pengecekan moderasi konten.",
        "operationId": "moderations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModerationsRequest"
              },
              "examples": {
                "simple": {
                  "summary": "Contoh request sederhana",
                  "value": {
                    "input": "Ini adalah teks yang akan dimoderasi",
                    "model": "text-moderation-latest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Moderation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModerationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            }
          }
        }
      }
    },
    "/usage": {
      "get": {
        "tags": ["usage"],
        "summary": "Get usage statistics",
        "description": "Mendapatkan statistik penggunaan API.",
        "operationId": "usage",
        "parameters": [
          {
            "in": "query",
            "name": "start_date",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Tanggal mulai (YYYY-MM-DD)"
          },
          {
            "in": "query",
            "name": "end_date",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Tanggal akhir (YYYY-MM-DD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Usage statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          }
        }
      }
    },
    "/reasoning": {
      "post": {
        "tags": ["reasoning"],
        "summary": "Enhanced reasoning completion",
        "description": "Completion dengan enhanced reasoning capabilities.",
        "operationId": "reasoning",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasoningRequest"
              },
              "examples": {
                "simple": {
                  "summary": "Contoh reasoning request",
                  "value": {
                    "model": "nusantara-base",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Jelaskan langkah-langkah menyelesaikan masalah matematika kompleks."
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reasoning completion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            }
          }
        }
      }
    },
    "/system/status": {
      "get": {
        "tags": ["system"],
        "summary": "System status and info",
        "description": "Mendapatkan status sistem dan informasi akun.",
        "operationId": "systemStatus",
        "responses": {
          "200": {
            "description": "System status information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemStatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API_KEY"
      }
    },
    "schemas": {
      "ChatCompletionsRequest": {
        "type": "object",
        "description": "Request untuk chat completion.",
        "properties": {
          "model": {
            "type": "string",
            "example": "nusantara-base",
            "description": "Nama model (wajib)."
          },
          "messages": {
            "type": "array",
            "description": "Array pesan (role+content).",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "enum": ["system", "user", "assistant"],
                  "example": "user"
                },
                "content": {
                  "type": "string",
                  "example": "Apa itu NusantaraAI?"
                }
              },
              "required": ["role", "content"]
            }
          },
          "temperature": {
            "type": "number",
            "default": 0.7,
            "minimum": 0,
            "maximum": 2,
            "description": "Kontrol kreativitas response"
          },
          "max_tokens": {
            "type": "integer",
            "default": 1000,
            "minimum": 1,
            "description": "Maksimal token output"
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "Stream response"
          },
          "n": {
            "type": "integer",
            "default": 1,
            "description": "Jumlah response yang dihasilkan"
          },
          "top_p": {
            "type": "number",
            "default": 1,
            "minimum": 0,
            "maximum": 1
          },
          "frequency_penalty": {
            "type": "number",
            "default": 0,
            "minimum": -2,
            "maximum": 2
          },
          "presence_penalty": {
            "type": "number",
            "default": 0,
            "minimum": -2,
            "maximum": 2
          },
          "response_format": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["text", "json_object"],
                "default": "text"
              }
            }
          },
          "functions": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Fungsi yang tersedia untuk dipanggil"
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Tools yang tersedia"
          },
          "tool_choice": {
            "type": "string",
            "default": "auto",
            "description": "Cara pemilihan tool"
          },
          "web_search": {
            "type": "boolean",
            "default": false,
            "description": "Aktifkan web search"
          }
        },
        "required": ["model", "messages"]
      },
      "ChatCompletionsResponse": {
        "type": "object",
        "description": "Response chat completion.",
        "properties": {
          "id": {
            "type": "string",
            "example": "chatcmpl-xyz"
          },
          "object": {
            "type": "string",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer",
            "example": 1717950000
          },
          "model": {
            "type": "string",
            "example": "nusantara-base"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer"
                },
                "message": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "example": "assistant"
                    },
                    "content": {
                      "type": "string",
                      "example": "NusantaraAI adalah platform AI lokal."
                    },
                    "tool_calls": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                },
                "finish_reason": {
                  "type": "string",
                  "example": "stop"
                }
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "integer",
                "example": 12
              },
              "completion_tokens": {
                "type": "integer",
                "example": 5
              },
              "total_tokens": {
                "type": "integer",
                "example": 17
              }
            }
          },
          "_metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "TextCompletionsRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "example": "nusantara-base"
          },
          "prompt": {
            "type": "string",
            "example": "Sebutkan 3 manfaat AI:"
          },
          "temperature": {
            "type": "number",
            "default": 0.7
          },
          "max_tokens": {
            "type": "integer",
            "default": 1000
          },
          "stream": {
            "type": "boolean",
            "default": false
          },
          "n": {
            "type": "integer",
            "default": 1
          },
          "top_p": {
            "type": "number",
            "default": 1
          },
          "frequency_penalty": {
            "type": "number",
            "default": 0
          },
          "presence_penalty": {
            "type": "number",
            "default": 0
          },
          "response_format": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["text", "json_object"],
                "default": "text"
              }
            }
          }
        },
        "required": ["model", "prompt"]
      },
      "TextCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "text_completion"
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string"
                },
                "index": {
                  "type": "integer"
                },
                "logprobs": {
                  "type": "string",
                  "nullable": true
                },
                "finish_reason": {
                  "type": "string"
                }
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "integer"
              },
              "completion_tokens": {
                "type": "integer"
              },
              "total_tokens": {
                "type": "integer"
              }
            }
          },
          "_metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "EmbeddingsRequest": {
        "type": "object",
        "description": "Request untuk embeddings.",
        "properties": {
          "model": {
            "type": "string",
            "example": "nusantara-embeddings",
            "description": "Nama model embeddings"
          },
          "input": {
            "oneOf": [
              {
                "type": "string",
                "example": "contoh kalimat"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": ["kalimat pertama", "kalimat kedua"]
              }
            ],
            "description": "Text atau array text untuk diembedding"
          },
          "encoding_format": {
            "type": "string",
            "default": "float",
            "enum": ["float", "base64"],
            "description": "Format encoding output"
          }
        },
        "required": ["input"]
      },
      "EmbeddingsResponse": {
        "type": "object",
        "description": "Response dari embeddings endpoint.",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "example": "embedding"
                },
                "embedding": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  },
                  "example": [0.12, 0.34, 0.56]
                },
                "index": {
                  "type": "integer",
                  "example": 0
                }
              }
            }
          },
          "model": {
            "type": "string",
            "example": "nusantara-embeddings"
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "integer",
                "example": 3
              },
              "total_tokens": {
                "type": "integer",
                "example": 3
              }
            }
          },
          "_metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "ModelsResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModelInfo"
            }
          },
          "_metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "ModelInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "nusantara-base"
          },
          "object": {
            "type": "string",
            "example": "model"
          },
          "created": {
            "type": "integer"
          },
          "owned_by": {
            "type": "string",
            "example": "nusantaraai"
          },
          "permission": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "root": {
            "type": "string"
          },
          "parent": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "example": "Model dasar NusantaraAI"
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": ["chat", "completion", "reasoning"]
          }
        }
      },
      "ModerationsRequest": {
        "type": "object",
        "properties": {
          "input": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Text yang akan dimoderasi"
          },
          "model": {
            "type": "string",
            "example": "text-moderation-latest",
            "description": "Model moderasi yang digunakan"
          }
        },
        "required": ["input"]
      },
      "ModerationsResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModerationResult"
            }
          },
          "_metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "ModerationResult": {
        "type": "object",
        "properties": {
          "flagged": {
            "type": "boolean",
            "description": "Apakah konten terflag"
          },
          "categories": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            },
            "description": "Kategori yang terflag"
          },
          "category_scores": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "description": "Skor setiap kategori"
          }
        }
      },
      "UsageResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "usage"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "timestamp": {
                  "type": "integer",
                  "description": "Unix timestamp"
                },
                "usage": {
                  "type": "integer",
                  "description": "Jumlah token yang digunakan"
                },
                "requests": {
                  "type": "integer",
                  "description": "Jumlah request"
                },
                "model": {
                  "type": "string",
                  "description": "Nama model"
                }
              }
            }
          },
          "total_usage": {
            "type": "integer",
            "description": "Total penggunaan token"
          },
          "total_requests": {
            "type": "integer",
            "description": "Total request"
          },
          "tier_info": {
            "type": "object",
            "properties": {
              "current_tier": {
                "type": "string",
                "example": "Free"
              },
              "limits": {
                "type": "object",
                "properties": {
                  "requests_per_minute": {
                    "type": "integer"
                  },
                  "requests_per_day": {
                    "type": "integer"
                  },
                  "tokens_per_minute": {
                    "type": "integer"
                  },
                  "tokens_per_day": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "current_usage": {
            "type": "object",
            "properties": {
              "requests_today": {
                "type": "integer"
              },
              "tokens_today": {
                "type": "integer"
              },
              "requests_this_minute": {
                "type": "integer"
              },
              "tokens_this_minute": {
                "type": "integer"
              }
            }
          },
          "_metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "ReasoningRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "example": "nusantara-base",
            "description": "Model yang digunakan"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "enum": ["system", "user", "assistant"]
                },
                "content": {
                  "type": "string"
                }
              }
            }
          },
          "temperature": {
            "type": "number",
            "default": 0.7
          },
          "max_tokens": {
            "type": "integer",
            "default": 1500
          },
          "stream": {
            "type": "boolean",
            "default": false
          },
          "top_p": {
            "type": "number",
            "default": 1
          },
          "frequency_penalty": {
            "type": "number",
            "default": 0
          },
          "presence_penalty": {
            "type": "number",
            "default": 0
          },
          "response_format": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["text", "json_object"],
                "default": "text"
              }
            }
          }
        },
        "required": ["messages"]
      },
      "SystemStatusResponse": {
        "type": "object",
        "properties": {
          "system": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "example": "operational"
              },
              "version": {
                "type": "string",
                "example": "1.0.0"
              },
              "uptime": {
                "type": "integer",
                "description": "Uptime dalam detik"
              },
              "models_available": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "your_tier": {
            "type": "string",
            "example": "Free",
            "description": "Tier akun Anda"
          },
          "your_usage": {
            "type": "object",
            "properties": {
              "requests_today": {
                "type": "integer"
              },
              "tokens_today": {
                "type": "integer"
              },
              "remaining_requests": {
                "type": "integer"
              },
              "remaining_tokens": {
                "type": "integer"
              }
            }
          },
          "_metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "RateLimitError": {
        "type": "object",
        "description": "Error jika terkena rate limit.",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "example": "Too many requests. Limit: 10 RPM. Please try again later."
              },
              "type": {
                "type": "string",
                "example": "rate_limit_exceeded"
              },
              "code": {
                "type": "string",
                "example": "rpm_exceeded"
              },
              "details": {
                "type": "object",
                "description": "Detail informasi rate limit",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "description": "Batas maksimal"
                  },
                  "remaining": {
                    "type": "integer",
                    "description": "Sisa kuota"
                  },
                  "reset": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Waktu reset limit"
                  },
                  "retry_after": {
                    "type": "integer",
                    "description": "Retry setelah berapa detik"
                  }
                }
              }
            },
            "required": ["message", "type", "code"]
          },
          "_metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "AuthError": {
        "type": "object",
        "description": "Error jika API key salah/kurang.",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "example": "API key is missing. Please provide your API key in the 'Authorization' header as 'Bearer <API_KEY>'."
              },
              "type": {
                "type": "string",
                "example": "auth_error"
              },
              "code": {
                "type": "string",
                "example": "invalid_api_key",
                "enum": ["missing_api_key", "invalid_api_key", "expired_api_key"]
              }
            },
            "required": ["message", "type", "code"]
          },
          "_metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "BadRequestError": {
        "type": "object",
        "description": "Error untuk request yang tidak valid.",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "example": "Invalid request format or missing required parameters."
              },
              "type": {
                "type": "string",
                "example": "bad_request"
              },
              "code": {
                "type": "string",
                "example": "invalid_request_format"
              },
              "details": {
                "type": "object",
                "description": "Detail kesalahan request"
              }
            },
            "required": ["message", "type", "code"]
          },
          "_metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "ServerError": {
        "type": "object",
        "description": "Error server internal.",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "example": "Internal server error. Please try again later."
              },
              "type": {
                "type": "string",
                "example": "server_error"
              },
              "code": {
                "type": "string",
                "example": "internal_error"
              }
            },
            "required": ["message", "type", "code"]
          },
          "_metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "description": "Metadata response dari NusantaraAI.",
        "properties": {
          "creator": {
            "type": "string",
            "example": "nusantaraai",
            "description": "Pembuat API"
          },
          "status": {
            "type": "boolean",
            "example": true,
            "description": "Status response (true = sukses, false = error)"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2025-06-09T16:00:00Z",
            "description": "Timestamp response"
          },
          "request_id": {
            "type": "string",
            "example": "req_abc123",
            "description": "ID unik untuk request"
          },
          "processing_time": {
            "type": "number",
            "example": 1.234,
            "description": "Waktu pemrosesan dalam detik"
          }
        }
      }
    }
  }
}